/* font family */
@import url('http://fonts.googleapis.com/css/css2?family=Azeret+Mono:ital,wgt@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* Header Section */

header{
    background-image: url(../assets/Hero-bg.png);
    width: 1533px;
    height: 652px;
    background-position: center;
}

.header-section{
    height: 600px;
    left: 230px;
    right:230px;
    top: 170px;
    bottom: 4510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
       
}
.header-section h1{
    color: rgb(13,19,33);
    font-size: 50px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    margin: 24px 0px;
}

.header-section p{
    color: rgb(13,19,33);
    opacity: 0.7;
    font-size: 18px;
    font-weight:400;
    line-height: 26px;
    text-align: center;
}
.btn-style{
    width: 230px;
    height: 60px;
    gap: 10;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13,19,33);
    /* margin:32px 0px; */
    color: rgb(255, 255 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    margin-top: 40px;

}

.btn-style a{
    text-decoration: none;
    color: rgb(255,255,255) ;
}
.btn-style:hover{
    background-color: rgb(238, 232, 226);
}
.btn-style a:hover{
    color: rgba(13,19,33,0.7);
}

main{
    width: 1140px;
    height: 1250px;
    position: absolute;
    left: 148px;
    right: 152px;
    top: 700px;
    bottom: 3000px;
    gap: 10;
    padding: 80px 97px 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

/* Why Web Development */

.section-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.section-1 h1{
    color: rgb(13,19,33);
    font-size: 40px;
    font-weight: 800;
    line-height: 37px;
}


#color-primary{
    color: rgb(13,19,33);
    opacity: 0.7;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 24px 0px; 
}

#heading-primary{
    color: rgba(13,19,33,0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin: 16px 0px;
}

/* Section-2 */

.section-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 48px;
    margin: 40px 0px;
}

.section-2-h1{
    width: 468px;
    height: 210px;
}

.learn-more-btn{
    width: 171px;
    height: 47px;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13,19,33);
}

.learn-more-btn:hover{
   background-color: rgb(230, 207, 176);
}

/*  My Inspiration section-3 */

.section-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.section-3 h1{
    color: rgb(13,19,33);
    font-size: 40px;
    font-weight: 800;
    line-height: 37px;
}

/* My Current Target section-4 */
.section-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px; 
}

.section-4-h1{
    color: rgb(13,19,33);
    font-size:40px;
    font-weight: 800;
    line-height: 37px;
}

/* Section-5 Card */

.card-Containers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.card-Container{
    width: 364px;
    height: auto;
    padding: 40px;
    margin-top: 50px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    margin-bottom: 60px;
}
.card-Container a{
    width: 284px;
    height: 19px;
    color: rgb(13,19,33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

/* My Next Target */

.target{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(13,19,33);
    font-size: 18px;
    font-weight: 800;
    line-height: 37px;
}

.card-Containers-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 220px;
    padding: 40px; 
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-top: 20px;
}

.card-Container img{
    width: 30%;
}
.card-Container-des{
    width: 70%;
}

.card-Containers-2 a{
    color: rgb(13,19,33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;

}
 .card-Containers h1{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
 }

 /* Last Section */
    .last-section{
        background-image: url(../assets/handshake.jpg);
        background-position: center;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding: 64px 48px 64px 48px;
        border-radius: 16px;
        background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);

    }

    .last-section h1{
        color: rgb(255, 255, 255);
        font-size: 32px;
        font-weight: 700;
        line-height: 36px;
    }

    .last-section #text{
      width: 548px;
      height: 57px;
      padding: 19px 20px 19px 20px; 
       box-sizing: border-box;
       border: 1px solid rgba(13, 19, 33, 0.15 );
       border-radius: 8px;
       background: rgb(255, 255, 255);
       color: rgba(13, 19, 33, 0.4);
       font-size: 14px;
       font-weight: 400;
       line-height: 19px;
       text-align: center;


    }

    #button{
        width: 120px;
        height: 45px;
        border-radius: 8px;
        background: rgb(255, 255, 255);
        padding: 17px 20px 17px 20px;
        color: rgb(13,19,33);
        font-size: 20px;
        font-weight: 600;
        line-height: 23px;
        text-align: center;
        box-sizing: border-box;
    }    

    /* footer section */
    .footer-section{
        background-color: cadetblue;
        height: 200px;
        width: auto;
        border: 2px solid tomato;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0px;
        margin-top: 40px;
        border-radius: 16px;

    }

    .footer-section-img{
        display: flex;
        flex-direction: row;
        width:20px;
        height: 30px;
        gap: 20;
       
    }
    .footer-section-img .container{
        gap: 50;
    }

    .footer-section-img .socials{
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        gap: 20;
    }
    .socials li {
        margin: 0 10px;
      }
      
      .socials a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        transition: color 0.3s;
      }

      .socials:hover{
        background-color: rgb(246, 228, 205);
      }

      .footer-info  h1{
        color: whitesmoke;
        font-size: 28px;
        font-weight: 800;
        line-height: 36px;
        padding: 20px 0px;
        text-align: center;
      }
